
<h1><%= @article.title %></h1>
<h3><%= @article.content %></h3>
<%= link_to "Edit", edit_article_path %>
<br>
<%= link_to "Back to homepage", articles_path %>
<br>
<%= link_to "delete", article_path(@article), method: :delete %>

